{#
/**
 * @file
 * Default theme implementation to display a image osslider.
 *
 */
#}

<div class="{{ field_name }}">
	<ul class="{{ field_name }}-main">
		{% for key, value in items %}
			<li><a href="#"><img src="{{ value }}" alt="" /></a></li>
		{% endfor %}
	</ul>
</div>
